<div class="m-5vw">

<%= render "shared/user" %>

<div class="border-solid">
  <h3 class="m-20">Bio</h3>
  <p class="m-20"><%= @user.bio %></p>
</div>

<ul class="mt-15px">
    <% @user.posts.each do |post|%>
        <li class="flex-container flex-col mb-5vh border-solid p-20">
          <h4><%= post.title %></h4>
          <div class="flex-container flex-col w-100 mt-15px">
            <p> <%= post.text %> </p>
            <p class="align-right font-sm">Comments: <%=post.commentCounter%>, Likes: <%=post.likesCounter%></p>
          </div>
        </li>
    <% end %>
</ul>

<button class="mt-15px"><%= link_to "See All Posts", user_posts_path(@user.id), :class => "decoration-none" %></button>

</div>