<h2 class="mb-2vh">Write a new post:</h2>
<%= form_with model: [ current_user, current_user.posts.build] do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
    <p>
      <%= form.submit "Add Post" %>
    </p>
  <% end %>