<div class="m-5vw">

<%= render "shared/user" %>

<ul>
    <% @posts.each do |post| %>
        <li class="flex-container mb-5vh flex-col">
          <div class="border-solid flex-container flex-col space-between p-20">
            <h3 class="mb-5vh"><%= link_to post.title, user_post_path(id:post.id)%></h3>
            <p><%= post.text %></p>
            <p class="align-right font-sm">Comments: <%=post.commentCounter%> , Likes: <%= post.likesCounter %> </p>
          </div>
            <ul class="border-solid mt-15px p-20">
            <% post.comments.each do |comment|  %>
                <li><%= User.find(comment.user_id).name %>: <%=comment.text %><li>
            <% end %>
            </ul>
        </li>
    <% end %>
</ul>
</div>